.title{
    font-family: 'Festive', cursive;
    display: inline;
}
.navbarimg{
    
    border-radius: 50%;
    display: inline;
    /* padding-right: 5px;
    padding-left: 5px; */
}

.img1{
    height: 535px;
    width: 526px;
}
.cr{
    padding-top: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 50px;
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fc%2Fc5%2FRoasted_coffee_beans.jpg%2F1200px-Roasted_coffee_beans.jpg&imgrefurl=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FCoffee_bean&tbnid=ZfvCTiZbjJYMeM&vet=12ahUKEwjQ1OeZsc_xAhVxnEsFHbZGBtwQMygAegUIARDRAQ..i&docid=MKf2RNV50tnAQM&w=1200&h=900&q=COFFEE%20BEAN&ved=2ahUKEwjQ1OeZsc_xAhVxnEsFHbZGBtwQMygAegUIARDRAQ");
}
.do{
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
}
.cr1{
    padding-left: 536px;
    padding-right: 442px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50%;
    width: 100%;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    padding: 20px;
    margin: auto;
    transition: transform .2s;
  }
  .c1{
      position: relative;
      margin-left: 13px;
      
  }
  .c2{

    position: relative;
    margin-left: 320px;
    width:400px;
    bottom: 10px;
    left: 20px;
   
  }
  .card:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  
  .c3{
      position:relative;
      bottom: 783px;
      left: 180px;
      /* height: 600px; */
  }
  .c4{
      position: relative;
      bottom: 800px;
      left: 500px;
  }
  .menu1{
      height: 350px;
      width: 300px;
  }
  #footer{
    text-align: center;
    background-color: #fff;
    padding: 50px;
}
.ican{
    margin: 20px 10px;
    transition: transform .2s;
}
.ican:hover{
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(4); 
}